{% extends 'base.html' %}
{% block content %}
    <a href="./add" class="black-text">Add<i class="material-icons">add</i></a>
    {% if object %}
        <table class="highlight">
            <caption>Productos creados en el catálogo</caption>
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
    
            <tbody>
                {% for product in object %}
                    <tr>
                    <th scope="row"><a href="{{ product.id }}">{{ product.name }}</a></th>
                    <td>{{ product.description }}</td>
                    <td><a href="{{product.id}}/edit"><i class="material-icons print">edit</i></a></td>
                    <td><a href="{{product.id}}/delete"><i class="material-icons print">delete</i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no products in the catalog.</p>
    {% endif %}
            
{% endblock %}