{% extends 'base.html' %}

{% block content %}
    <div class="row"></div>
    {% if object %}
    <div class="row">
        <div class="col s12">
            <div class="right-align col s6 m6 l6 offset-s3">
                <img class="responsive-img" src="{{ object.picture }}" alt="">
            </div>
            <div class="left-align col s9 m4 l4 offset-s3">
                <h5>{{ object.name }} </h5>
                <h6>{{ object.brand }} </h6>  
            </div>
            <div class="col s9 m9 l9 offset-s3">
                <p>{{ object.category }}</p>
                <p>Descripción: {{ object.description }}</p>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col s12">
            {% if specs %}
            <ul>
                {% for spec in specs %}
                  <li>
                    {{ spec.attribute }} {{spec.value}} <a href="specs/{{spec.attribute}}/delete">delete</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %} 
        </div>
    </div>
{% endblock %}